* {
    margin:0;
    font-family: Arial;
    border: border-box;
}

body {
    font-family: 'Jameel Noori', sans-serif;
}



@font-face {
  font-family: 'Jameel Noori';
  src: url('jameel nori nastaleeq.ttf');
  /* You can include additional font formats for cross-browser compatibility */
  /* Example: */
  /* src: url('path/to/font-file.ttf') format('truetype'),
          url('path/to/font-file.woff') format('woff'); */
}





.navbar {
    height: 60px;
    background-color: #07678a;
    color: white;
}

.nav-text {
    justify-contect: center ;
}

.logo {
    background-image: url("logo.png");
    background-size: cover;
    height: 50px;
    width: 100px; 
    
}

h1 {
    Alain: right ;
}

.right align {
    text-align: right;
}

/** hero section **/
.hero-section {
    background-image: url("background.jpeg");
    background-size: cover;
    height: 400px;
    display: flex;
    justify-contect: center ;
    align-items: flex-end;
    
}

.hero-msg {
    background-color: white;
    color: black;
    height: 70px;
    font-size: 50px;

}


/** Shop-Section**/
.shop-section {
    display: flex;
    justify-contect: space-evenly;
    
}
.box {
    border: solid 2px black;
    height: 250px;
    width: 25%;
    background-color: red;
    text-align: Center;
    justify-contect: space-evenly;
    
}

.name-of-sahana {
    color: white;
}

.box-image {
    height: 230px;
    width: 245px;
    size: 25%
    
#box-image1 {
    height: 230px;
    width: 245px;
}
    
}


.navbar-footer {
    height: 250px;
    background-color: #07678a;
    color: white;
}
